:root {
  color-scheme: dark;

  --color-text-primary: var(--base-text-on-dark);
  --color-text-secondary: var(--color-black);
  --color-text-alt: var(--base-label-primar);
  --color-accent: var(--global-primary);
  --color-bg: var(--base-bg-dark);
  --color-bg-header: var(--base-bg-primary);
  --color-bg-secondary: var(--base-bg-secondary);
}
