.button {
  display: inline-flex;
  align-items: center;
  color: var(--color-text-primary);
  background-color: var(--color-accent);
  height: 56px;
  padding: 5px 20px;
  border: none;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.button__arrow {
  margin-left: 10px;
}

.button--sm {
  height: 32px;
}

.button--story {
  height: 26px;
  background-color: var(--color-bg-secondary);
  color: var(--color-accent);
  padding: 0%;
}

.button--footer {
  background-color: var(--color-bg-primary);
  padding: 0%;
}
