.headline {
  display: flex;

  /* контент слева, фото справа */
  justify-content: space-between;

  /* выравнивание по вертикали */
  align-items: center;

  /* отступ между блоками */
  gap: 48px;
  padding: 145px 0;
}

.headline__content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.headline__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -1.16px;
  text-transform: capitalize;
  color: var(--base-text-on-dark);
}

.headline__text {
  font-family: Inter, sans-serif;
  width: 468px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  color: var(--base-text-on-dark);
}

.headline__actions {
  display: inline-flex;
  align-items: center;
  gap: 21px;
  margin-top: 42px;
}

.headline__cta {
  text-align: left;
  font-size: 14px;
  color: var(--color-text-primmary);
  width: 250px;
}

.headline__logos {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 84px;
}

.headline__logo {
  object-fit: contain;
}

.headline__photo {
  width: 460px;
  height: auto;
  object-fit: cover;
}

@media (--sm-viewport) {
  .headline__photo {
    width: 200px;
  }
}

@media (--md-viewport) {
  .headline__photo {
    width: 300px;
  }
}

@media (--lg-viewport) {
  .headline__photo {
    width: 400px;
  }
}

@media (--xl-viewport) {
  .headline__photo {
    width: 460px;
  }
}
