.sample {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px; /* расстояние между контентом и фото */
  padding: 80px 0; /* отступы секции сверху и снизу */
}

.sample__content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.sample__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: var(--color-text-primary);
}

.sample__text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 8px;
  color: var(--color-text-primary);
}

.sample__statistic {
  display: flex;
  flex-wrap: wrap;
  gap: 82px;
  margin-top: 36px;
}

.statistic-item {
  display: flex;
  flex-direction: column;
  max-width: 200px;

  /* А можно ли max width */
}

.statistic-item__value {
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  color: var(--color-text-primary);
}

.statistic-item__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-text-primary);
}

.sample__image {
}
